* {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    display: block;
    justify-content: center;
}

.nav{
    display: block;
    justify-content: center;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: black;
    border-radius: 6px;
}

header nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
}

header nav li {
    float: left;
}

header nav li .a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
    margin-left: 15px;
    font-family: 'Silkscreen', cursive;
    border-top: solid 3px rgb(255, 255, 255);
}

header nav li .a:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.a button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Silkscreen', cursive;
    font-size: 15px;
    font-weight: 100;
    border: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.a:hover button {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.active {
    background-color: rgb(63, 63, 63);
}

.active button {
    background-color: rgb(63, 63, 63);
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.title h1 {
    font-size: 50px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 7px;
    margin-left: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.login .a {
    text-decoration: none;
    color: black;
}

.profil_img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}