* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    text-align: center;
    background-color: #007bff;
    border: 2px solid #004fa3;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    right: 40%;
}

.container p {
    margin-top: 20px;
    font-size: 35px;
}

.container a {
    font-size: 25px;
}